<html>
	<body>
		<h4>Text file viewer</h4>
		<h4>%today%</h4>
		<form action = 'text.do'>
		<select id='textFile' name='textFile'>
			%options%
		</select>
		</form>
		
		<!-- src 속성의 주소값 : ex ) textView.do?textFile=filename(path?) -->
		<iframe id="viewer" src=""></iframe>
<script type="text/javascript">
	var select = document.querySelector("#textFile")
	select.onchange = function(event){
		event.target.form.submit();
	}
</script>		
	</body>
</html>