.metadata/
.Servers/
webStudy01/build/
*.classpath
WEBSTUDY02_MVN/src/main/resources/kr/or/ddit/db/dbinfo.properties
WEBSTUDY02_MVN/src/main/resources/kr/or/ddit/db/dbinfo_en.properties
languageLab/res/kr/or/ddit/dbinfo.properties
alba/alba/src/main/resources/dbinfo.properties
alba/alba/bin/
webStudy03_Validation/webStudy03_Validation/bin/
firstWebMVN/bin/
firstMVN/bin/
springDILab/bin/
webStudy04_springMVC/webStudy04_springMVC/src/main/resources/kr/or/ddit/db/dbinfo.properties
webStudy03_Validation/webStudy03_Validation/src/main/resources/kr/or/ddit/db/dbinfo.properties
test/src/main/resources/kr/or/ddit/db/dbinfo.properties
